.container {
	width: 30%;
	margin: 9%;
	box-shadow: 0 3px 20px rgba(0,0,0,0,5);
	padding: 30px;
	margin-left: 35%;
}
button{
	width: 48%;
	margin-top: 5%;
}
body{
	height: 100vh;
	background-color: #C7CFB7;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}